.formwrapper
{
    display: flex;
    width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
.formbox
{
    width: 30%;
}
input
{
    font-family: Arial;
    border: 1px solid #73A6FF;
    border-radius: 3px;
    padding:5px;
    line-height:20px;
    background: #B9D3FF;
    color:#001F3E;
    font-weight:bold;
    font-size:14px;
}
input:focus::-webkit-input-placeholder { color:#CCDFFF; }
input:focus::-moz-placeholder { color:#CCDFFF; } /* firefox 19+ */
input:focus:-ms-input-placeholder { color:#CCDFFF; } /* ie */
input:focus:-moz-placeholder { color:#CCDFFF; }
input:focus
{
    background: #95BDFF;
}
textarea
{
    font-family: Arial;
    border: 1px solid #73A6FF;
    border-radius: 3px;
    padding:5px;
    line-height:20px;
    background: #B9D3FF;
    color:#001F3E;
    font-weight:bold;
    font-size:14px;
}
textarea:focus
{
    background: #95BDFF;
}
textarea legend
{
    height: 100px;
}
select
{
    font-family: Arial;
    border: 1px solid #73A6FF;
    border-radius: 3px;
    padding:5px;
    line-height:20px;
    background: #B9D3FF;
    color:#001F3E;
    font-weight:bold;
    font-size:14px;
}
.success
{
    font-family: Arial;
    padding: 10px;
    color: darkgreen;
    background-color: rgba(0,157,0, 0.2);
    border: 1px solid darkgreen;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.error
{
    font-family: Arial;
    padding: 10px;
    color:  #ffcaca;
    background-color: indianred;
    border: 1px solid darkred;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.error img
{
    vertical-align: top;
}
.success img
{
    vertical-align: top;
}
.info img
{
    vertical-align: top;
}
fieldset > label
{
    display: block;
    margin: 10px;
}
.field_error
{
    font-family: Arial !important;
    border: 2px dashed darkred !important;
    color:#ffcaca !important;
    padding:5px !important;
    line-height:20px !important;
    background: indianred !important;
    font-weight:bold !important;
    font-size:14px !important;
}
.field_error:focus
{
    background: tomato;
}
.field_error:focus::-webkit-input-placeholder { color:#F90000; }
.field_error:focus::-moz-placeholder { color:#F90000; } /* firefox 19+ */
.field_error:focus:-ms-input-placeholder { color:#F90000; } /* ie */
.field_error:focus:-moz-placeholder { color:#F90000; }
.info
{
    font-family: Arial;
    border: 1px solid #001F3E;
    border-radius: 5px;
    color:#001F3E;
    padding:5px;
    line-height:20px;
    background: #D2E8FF;
    font-size:14px;
    margin: 10px 0px 10px 0px;
}
.boolean_box
{
    width: auto;
    padding: 5px;
    margin: 5px;
}
.bool_error
{
    background: indianred;
    color: black;
    padding: 5px;
    border: 1px solid darkred;
}
.buttonwrapper
{
    padding: 10px;
    text-align: right !important;
}
.buttonwrapper .button
{
    float: right;
}
.nicEdit-main
{
    font-family: Arial;
    border: 1px solid #73A6FF;
    border-radius: 3px;
    padding:5px;
    background: #B9D3FF;
    color:#001F3E;
    font-size:14px;
    width: 97.5% !important;
}
@media only screen and (max-device-width: 900px)
{
    .permswrapper {
        min-width: 0px !important;
    }
    .formwrapper {
        display: block;
    }
    .formbox{
        width: 98% !important;
    }
    .info, .error, .success
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
	.boolean_box, input[type=checkbox]
	{
		width: auto !important;
	}
    .datefield, select
    {
        width: 15%;
    }
    #visibilite
    {
        width: 95%;
    }
    input, textarea, select, fieldset
	{
        width: 90%;
    }
	#captcha
	{
		width: 50% !important;
	}
    #login, #mdp
    {
        width: 90% !important;
    }
}