<h1 class="main_site_title">###INSTANCE_NAME###</h1>
<div class="als-container" id='slideshow'>
    <span class="als-prev"><span class="icon icon-64 icon-chevron-left"></span></span>
    <div class="slideshow-element">
        <div class="slideshow-circle"><span class="icon icon-group big-icon"></span></div>
        <div class="slideshow-text">
            <span>Partage entre étudiants</span>
        </div>
        <div class="slideshow-image">
            <img src="media/pics/student-network.png" alt="Gérer son agenda scolaire" />
        </div>
    </div>
    <div class="slideshow-element">
        <div class="slideshow-circle"><span class="icon icon-file-text big-icon"></span></div>
        <div class="slideshow-text">
            <span>Des synthèses</span>
        </div>
        <div class="slideshow-image">
            <img src="media/pics/partage-fichiers-online.png" alt="Partage de synthèses" />
        </div>
    </div>
    <div class="slideshow-element">
        <div class="slideshow-circle"><span class="icon icon-calendar big-icon"></span></div>
        <div class="slideshow-text">
            <span>Un agenda commun</span>
        </div>
        <div class="slideshow-image">
            <img src="media/pics/agenda.png" alt="Gérer son agenda scolaire" />
        </div>
    </div>
    <div class="slideshow-element">
        <div class="slideshow-circle"><span class="icon icon-comment big-icon"></span></div>
        <div class="slideshow-text">
            <span>Un forum d'entraide</span>
        </div>
        <div class="slideshow-image">
            <img src="media/pics/chat.png" alt="Un forum d'entraide" />
        </div>
    </div>
    <div class="slideshow-element">
        <div class="slideshow-circle"><span class="icon icon-edit-sign big-icon"></span></div>
        <div class="slideshow-text">
            <span>Vos pense-bêtes</span>
        </div>
        <div class="slideshow-image">
            <img src="media/pics/apercu_todo.png" alt="Vos pense-bêtes" />
        </div>
    </div>
    <div class="slideshow-element">
        <div class="slideshow-circle"><span class="icon icon-beaker big-icon"></span></div>
        <div class="slideshow-text">
            <span>Planning de bloque</span>
        </div>
        <div class="slideshow-image">
            <img src="media/pics/ma_bloque.png" alt="Gérer son agenda scolaire" />
        </div>
    </div>
    <div class="slideshow-element">
        <div class="slideshow-circle"><span class="icon icon-globe big-icon"></span></div>
        <div class="slideshow-text">
            <span>Accessible partout</span>
        </div>
        <div class="slideshow-image">
            <img src="media/pics/world.png" alt="Gérer son agenda scolaire" />
        </div>
    </div>
    <div class="slideshow-element">
        <div class="slideshow-circle"><span class="icon icon-thumbs-up big-icon"></span></div>
        <div class="slideshow-text">
            <span>Rejoignez-nous!</span>
        </div>
        <div class="slideshow-image">
            <img src="media/pics/sidecampus-acceuil.png"/>
        </div>
    </div>
    <span class="als-next"><span class="icon icon-64 icon-chevron-right"></span></span> <!-- "next" button -->
    
</div>
    <div style='clear:both'></div>
   