<div style='display:none'>
    <!-- ###SUB_NOT_CONNECTED### -->
    <div class="info"><img src="media/icons/information.png"> 
        <b>Pour pouvoir poster une annonce, il vous faut un compte.</b> 
    </div>
    <div style='width: 100%;
  text-align: center;margin-top:20px;'>
        <a href="request.php?action=Disconnect&redirect=Connect" style='display: inline-block'><button class='button big_button'><span class="icon icon-64 icon-chevron-sign-right small-icon"></span> Se connecter</button></a>
        <a href="request.php?action=Disconnect&redirect=Register"style='display: inline-block'><button class='button big_button'><span class="icon icon-64 icon-check-sign small-icon"></span> S'inscrire</button></a>
    </div>
    <!-- ###SUB_NOT_CONNECTED### -->
</div>
<h1>Création d'une annonce</h1>
<!-- ###SUB_INFOS### -->

<!-- ###SUB_INFOS### -->
<br/>
<form method="POST">
  <div class="formwrapper">
    <fieldset style='width: 100%'>
         <legend><h3>Informations de l'annonce</h3></legend>
         <!-- ###SUB_FORM### -->
         
         <!-- ###SUB_FORM### -->
    </fieldset>
  </div>
    <div class="buttonwrapper">
        <button class="button clickable_only_once">
            <span class='icon icon-arrow-right'></span>
            Poster l'annonce
        </button>
    </div>
</form>
<div class="clear"></div>

