<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Bloqué</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="media/icons/logo.png">
       
       
    </head>
    <body>
    <style>
        body
        {
            background: lightsalmon;
        }
        .container
        {
            background: darkred;
            color: white;
            font-size: 18px;
            margin-top: 50px;
            border: 1px solid tomato;
            padding: 20px;
            margin-left: auto;
            margin-right: auto;
            width: 500px;
            border-radius: 10px;
            text-align: center;
            font-family: Arial;
        }
    </style>
    <div class='container'>
        <img src='media/pics/interdit.png'/> 
        <h2><b>Votre adresse IP a été bloquée par notre système.</b></h2>
        Si vous ne comprenez pas la raison de ce blocage, ou que vous pensez ne pas en être responsable,
        vous pouvez toujours nous contacter.
    </div>
    </body>
</html>
