<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="font-family:Arial;color:#617F9D">
        <p>
            <h3>Bonjour ###PRENOM### ###NOM###, </h3>
            Tu t'es récemment inscrit(e) sur ###WEBSITE### sous le pseudonyme <b>###LOGIN###</b>. S'il ne s'agit pas de toi, ne crains rien, tu n'as 
            rien à faire. S'il s'agit bien de toi, peux-tu s'il te plait confirmer en cliquant sur le lien suivant?<br/><br/>
            
            <div style="text-align:center">
                <b><a href="###LINK###" style="color:#617F9D">Lien de confirmation d'inscription</a></b>
            </div>
        </p>
        <p>
            Tu peux conserver cet e-mail pour te rappeler de ton login. En cas de perte de mot de passe, tu peux toujours utiliser
            notre formulaire de récupération sur notre site.
        </p>
        <p>
            Cordialement,<br/><br/>
            <b>L'équipe ###WEBSITE###</b>
        </p>
    </body>
</html>
