<div class="info descr-contact">
    <h1>Vous souhaitez nous contacter ? </h1>
    Remplissez ce formulaire et nous vous répondrons dès que possible.
    <div style="clear:both"></div>
</div>
<br/>
<form method="POST">
    <fieldset >
        <legend><h2>Prise de contact</h2></legend>
            <!-- ###CONTACT_FORM### -->
            
            <!-- ###CONTACT_FORM### -->
    </fieldset>
    
    <div class="buttonwrapper">
        <button class="button" >
            <img src="media/icons/email_go.png" alt="envoyer" />
            Envoyer
        </button>
    </div>
    
</form>