<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Réponse à votre annonce</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="font-family: Arial;background: #EAF4FF">
        <div style="width: 98%;background: #415567;text-align: center;color: white;font-weight: bold;border-radius: 5px 5px 0px 0px;padding: 1%;">
            <img src="###URL###/media/pics/logo-long-fond-bleu.png" style="display: block;
margin-left: auto;
margin-right: auto;height: 50px"/>
        </div>
        <div style='border: 5px solid #415567;padding: 10px;background: #CDD7E0;border-radius: 0px 0px 5px 5px'>
            <div style="margin-top:5px">
			
				<p style="text-align: justify">
            Bonjour,<br/>
            Vous avez une nouvelle réponse pour votre annonce "###TX_TITRE###" sur ###WEBSITE###. Les détails sont disponibles
            ci-dessous. Vous pouvez à tout moment consulter ce message sur ###WEBSITE### en vous connectant à votre compte, puis
            en vous rendant dans les petites annonces.
        </p>
        <div style="width: 95%;
    margin: 1%;
    padding: 1%;
    border: 1px dotted #001F3E;">
            <b>###TX_NOM### (###TX_EMAIL###)</b><br/>
            <p>###TX_REPONSE###</p>
        </div>
				
				</div>
			
			<p style="border-top: 1px dotted #415567;padding-top: 5px">
				Cordialement, <br/>
				L'équipe ###WEBSITE###
			</p>
        </div>
    </body>
</html>
