<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Oups...</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/main.css" /> 
        <link rel="stylesheet" type="text/css" href="css/form.css" /> 
        <link rel="stylesheet" type="text/css" href="css/update.css" /> 
        <script type="text/javascript" src="./js/jquery.js"></script>
        <script type="text/javascript" src="./js/sha1.js"></script>
    </head>
    <body>
        <div class="message">
            <h1>Oupsss...</h1>
            <img src="media/pics/erreur.png" alt="Maintenance" /><br/><br/>
            <p style='text-align: justify'>
                Quelque chose semble s'être mal passé sur le système. Il se pourrait que votre session soit expirée.
                Si vous êtes connecté, 
                tentez de vous <u><a href="request.php?action=Disconnect">déconnecter</a></u> puis de vous reconnecter à nouveau.
                Si vous ne l'êtes pas, vous pouvez retenter la manoeuvre en recomplétant le formulaire (ne rafraichissez pas
                cette page).  pas, vous pouvez toujours
                nous contacter.
            </p>
            <p style='text-align: justify'>
                Si ça ne marche toujours
                Veuillez nous excuser pour ce désagrément.
            </p>
        </div>
    </body>
</html>
