<!-- ###SUB_WIDGET_ERROR_MESSAGE### -->
<div class="error"><img src="media/icons/exclamation.png"/> ###ERROR_MESSAGE###</div>
<!-- ###SUB_WIDGET_ERROR_MESSAGE### -->

<!-- ###SUB_WIDGET_SUCCESS_MESSAGE### -->
<div class="success"><img src="media/icons/accept.png"/> ###SUCCESS_MESSAGE###</div>
<!-- ###SUB_WIDGET_SUCCESS_MESSAGE### -->

<!-- ###SUB_WIDGET_INFO_MESSAGE### -->
<div class="info"><img src="media/icons/information.png"/> ###INFO_MESSAGE###</div>
<!-- ###SUB_WIDGET_INFO_MESSAGE### -->

<!-- ###SUB_WIDGET_STRING### -->
<label for="###SETTING_NAME###">###SETTING_DESCRIPTION### <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --></label>
<input type="text" id="###SETTING_NAME###" name="###SETTING_NAME###" value="###SETTING_VALUE###" style="width:80%" class="###ERROR_CLASS###"/><br/>
<!-- ###SUB_WIDGET_STRING### -->

<!-- ###SUB_WIDGET_EMAIL### -->
<label for="###SETTING_NAME###">###SETTING_DESCRIPTION### <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --></label>
<input type="email" id="###SETTING_NAME###" name="###SETTING_NAME###" value="###SETTING_VALUE###" style="width:80%" class="###ERROR_CLASS###"/><br/>
<!-- ###SUB_WIDGET_EMAIL### -->

<!-- ###SUB_WIDGET_TEL### -->
<label for="###SETTING_NAME###">###SETTING_DESCRIPTION### <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --></label>
<input type="tel" id="###SETTING_NAME###" name="###SETTING_NAME###" value="###SETTING_VALUE###" style="width:80%" class="###ERROR_CLASS###"/><br/>
<!-- ###SUB_WIDGET_TEL### -->

<!-- ###SUB_WIDGET_PASSWORD### -->
<label for="###SETTING_NAME###">###SETTING_DESCRIPTION### <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --></label>
<input type="password" id="###SETTING_NAME###" name="###SETTING_NAME###" value="###SETTING_VALUE###"  style="width:80%"  class="###ERROR_CLASS### ###HASH###" autocomplete="off"/><br/>
<!-- ###SUB_WIDGET_PASSWORD### -->

<!-- ###SUB_WIDGET_INT### -->
<label for="###SETTING_NAME###">###SETTING_DESCRIPTION### <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --></label> 
<input type="text" id="###SETTING_NAME###" name="###SETTING_NAME###" value="###SETTING_VALUE###" style="width:80%;" class="###ERROR_CLASS###"/><br/>
<!-- ###SUB_WIDGET_INT### -->

<!-- ###SUB_WIDGET_HIDDEN### -->
<input type="hidden" id="###SETTING_NAME###" name="###SETTING_NAME###" value="###SETTING_VALUE###"/>
<!-- ###SUB_WIDGET_HIDDEN### -->

<!-- ###SUB_WIDGET_BOOLEAN### -->
<div class="boolean_box ###ERROR_CLASS###">
    <input type="checkbox"id="###SETTING_NAME###" name="###SETTING_NAME###" value="Yes" ###CHECKED###/> 
    <span>###SETTING_DESCRIPTION###</span>  
    <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --><br/>
</div>
<!-- ###SUB_WIDGET_BOOLEAN### -->

<!-- ###SUB_WIDGET_DATE### -->
<label for="###SETTING_NAME###">###SETTING_DESCRIPTION###  <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --></label>
<input type="text" id="###SETTING_NAME###" name="###SETTING_NAME###"  value="###SETTING_VALUE###" class="datefield ###ERROR_CLASS###"/>
<!-- ###SUB_WIDGET_DATE### -->

<!-- ###SUB_WIDGET_DATETIME### -->
<label for="###DT_SETTING_NAME###">
        ###SETTING_DESCRIPTION### 
        <!-- ###SUB_EXPLAIN### --> 
            <!-- ###SUB_ITEM### -->
            ###REASON_TEXT###<br/>
            <!-- ###SUB_ITEM### -->
        <!-- ###SUB_EXPLAIN### -->
    </label>
    <b style="font-size:20px">Le</b>
    <input type="text" id="###DT_SETTING_NAME###" name="###DT_SETTING_NAME###" value="###SETTING_VALUE###"  class="datefield ###DT_ERROR_CLASS###"/>
    
    <b style="font-size:20px">à</b>
    <select name="###HR_SETTING_NAME###" class="###HR_ERROR_CLASS###">
        <option value="HH" ###HR_HH_SELECTED###>HH</option>
        <option value="00" ###HR_00_SELECTED###>00</option>
        <option value="01" ###HR_01_SELECTED###>01</option>
        <option value="02" ###HR_02_SELECTED###>02</option>
        <option value="03" ###HR_03_SELECTED###>03</option>
        <option value="04" ###HR_04_SELECTED###>04</option>
        <option value="05" ###HR_05_SELECTED###>05</option>
        <option value="06" ###HR_06_SELECTED###>06</option>
        <option value="07" ###HR_07_SELECTED###>07</option>
        <option value="08" ###HR_08_SELECTED###>08</option>
        <option value="09" ###HR_09_SELECTED###>09</option>
        <option value="10" ###HR_10_SELECTED###>10</option>
        <option value="11" ###HR_11_SELECTED###>11</option>
        <option value="12" ###HR_12_SELECTED###>12</option>
        <option value="13" ###HR_13_SELECTED###>13</option>
        <option value="14" ###HR_14_SELECTED###>14</option>
        <option value="15" ###HR_15_SELECTED###>15</option>
        <option value="16" ###HR_16_SELECTED###>16</option>
        <option value="17" ###HR_17_SELECTED###>17</option>
        <option value="18" ###HR_18_SELECTED###>18</option>
        <option value="19" ###HR_19_SELECTED###>19</option>
        <option value="20" ###HR_20_SELECTED###>20</option>
        <option value="21" ###HR_21_SELECTED###>21</option>
        <option value="22" ###HR_22_SELECTED###>22</option>
        <option value="23" ###HR_23_SELECTED###>23</option>
    </select>
    <b style="font-size:20px">h</b>
    <select name="###MN_SETTING_NAME###" class="###MN_ERROR_CLASS###">
        <option value="00" ###MN_00_SELECTED###>00</option>
        <option value="05" ###MN_05_SELECTED###>05</option>
        <option value="10" ###MN_10_SELECTED###>10</option>
        <option value="15" ###MN_15_SELECTED###>15</option>
        <option value="20" ###MN_20_SELECTED###>20</option>
        <option value="25" ###MN_25_SELECTED###>25</option>
        <option value="30" ###MN_30_SELECTED###>30</option>
        <option value="35" ###MN_35_SELECTED###>35</option>
        <option value="40" ###MN_40_SELECTED###>40</option>
        <option value="45" ###MN_45_SELECTED###>45</option>
        <option value="50" ###MN_50_SELECTED###>50</option>
        <option value="55" ###MN_55_SELECTED###>55</option>
    </select>
    <b style="font-size:20px">min</b>
    <br/>
<!-- ###SUB_WIDGET_DATETIME### -->

<!-- ###SUB_WIDGET_TEXTAREA### -->
<label for="###SETTING_NAME###">###SETTING_DESCRIPTION###  <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --></label>
<textarea id="###SETTING_NAME###" name="###SETTING_NAME###" style='width:80%;height:###HEIGHT###' class="###ERROR_CLASS###">###SETTING_VALUE###</textarea>
<!-- ###SUB_WIDGET_TEXTAREA### -->

<!-- ###SUB_WIDGET_FORMATED_TEXTAREA### -->
<label for="###SETTING_NAME###">###SETTING_DESCRIPTION###  <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --></label>
<textarea id="###SETTING_NAME###" name="###SETTING_NAME###" style='width:80%;height:###HEIGHT###' class="formated_textarea ###ERROR_CLASS###">###SETTING_VALUE###</textarea>
<!-- ###SUB_WIDGET_FORMATED_TEXTAREA### -->

<!-- ###SUB_WIDGET_SELECT### -->
<label for="###SETTING_NAME###">###SETTING_DESCRIPTION###  <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --></label>
<select id="###SETTING_NAME###" name="###SETTING_NAME###" class="###ERROR_CLASS###">
    <!-- ###SUB_ITEM### -->
    <option value="###VALUE###" ###SELECTED###>###VALUETEXT###</option>
    <!-- ###SUB_ITEM### -->
</select>
<!-- ###SUB_WIDGET_SELECT### -->

<!-- ###SUB_WIDGET_CAPTCHA### -->
<label for="###SETTING_NAME###">###SETTING_DESCRIPTION### <!-- ###SUB_EXPLAIN### --> <!-- ###SUB_EXPLAIN### --></label>
<img src="Utils/captcha.php?timestamp=###TIMESTAMP###" alt="" align='top'/>
<input type="text" id="###SETTING_NAME###" name="###SETTING_NAME###" value="###SETTING_VALUE###" style="width: 66%" class="###ERROR_CLASS###"/><br/>
<!-- ###SUB_WIDGET_CAPTCHA### -->

<!-- ###SUB_WITNESS### -->
<input type="hidden" name="sent" value="1" />
<!-- ###SUB_WITNESS### -->

<!-- ###SUB_ERROR_REASON### -->
<img src="media/icons/asterisk_orange.png" class="error_reason" title="###REASON###" />
<!-- ###SUB_ERROR_REASON### -->