<h1>Inscription</h1>
<!-- ###SUB_INFOS### -->

<!-- ###SUB_INFOS### -->
<form method="POST">
  <div class="formwrapper">
    <fieldset class="formbox">
         <legend><h3>Informations générales</h3></legend>
         <!-- ###SUB_GENERAL### -->
         
         <!-- ###SUB_GENERAL### -->
    </fieldset>
    <fieldset class="formbox">
         <legend><h3>Informations de connexion</h3></legend>
         <!-- ###SUB_CONNEXION### -->
         
         <!-- ###SUB_CONNEXION### -->
    </fieldset>
    <fieldset class="formbox">
         <legend><h3>Informations de contact</h3></legend>
         <!-- ###SUB_CONTACT### -->
         
         <!-- ###SUB_CONTACT### -->
    </fieldset>
  </div>
    <fieldset>
        
    <!-- ###SUB_AGREEMENTS### -->
    
    <!-- ###SUB_AGREEMENTS### -->
    </fieldset>
    
    <div class="buttonwrapper">
        <button class="button clickable_only_once">
            <img src="media/icons/application_go.png" alt="" />
            S'inscrire
        </button>
    </div>
</form>
<div class="clear"></div>

