<div style='display:none'>
    <!-- ###SUB_NOT_CONNECTED### -->
    <div class="info"><img src="media/icons/information.png"> 
        <b>Pour créer une plateforme, il vous faut d'abord un compte.</b> 
        Vous pouvez soit en <a href="request.php?action=Register">créer</a> un ou 
        vous <a href="request.php?action=Connect">connecter</a> avec un compte existant. 
        Vous pouvez accéder aux formulaires de connexion et d'inscription via le dessus de cette page. 
        Une fois connecté, vous pourrez créer la plateforme via le même lien.
    </div>
    <div style='width: 100%;
  text-align: center;margin-top:20px;'>
        <a href="request.php?action=Disconnect&redirect=Connect" style='display: inline-block'><button class='button big_button'><span class="icon icon-64 icon-chevron-sign-right small-icon"></span> Se connecter</button></a>
        <a href="request.php?action=Disconnect&redirect=Register"style='display: inline-block'><button class='button big_button'><span class="icon icon-64 icon-check-sign small-icon"></span> S'inscrire</button></a>
    </div>
    <!-- ###SUB_NOT_CONNECTED### -->
</div>
<h1>Création d'une plateforme</h1>
<!-- ###SUB_INFOS### -->

<!-- ###SUB_INFOS### -->
<br/>
<form method="POST">
  <div class="formwrapper">
    <fieldset class="formbox" style="width:500px">
         <legend><h3>Informations générales</h3></legend>
         <!-- ###SUB_GENERAL### -->
         
         <!-- ###SUB_GENERAL### -->
    </fieldset>
    <fieldset class="formbox" style="width:500px">
         <legend><h3>Informations de localisation</h3></legend>
         <!-- ###SUB_LOCALISATION### -->
         
         <!-- ###SUB_LOCALISATION### -->
    </fieldset>
  </div>
    <div class="buttonwrapper">
        <button class="button clickable_only_once">
            <img src="media/icons/application_go.png" alt="" />
            Créer la plateforme
        </button>
    </div>
</form>
<div class="clear"></div>

