<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="font-family:Arial;color:#617F9D">
        <p>
            <h3>Bonjour ###PRENOM### ###NOM###, </h3>
            Ta demande pour rejoindre la plateforme <b>###PLATEFORME###</b> vient d'être acceptée. <br/>
            Tu peux maintenant accéder aux outils de cette plateforme en te connectant sur <a href="###LINK###" style="color:#617F9D">ton compte</a><br/><br/>            
        </p>
        <p>
            Cordialement,<br/><br/>
            <b>L'équipe ###WEBSITE###</b>
        </p>
    </body>
</html>
