<div class="profilewrapper" style='max-width: 100%;'>   
    <!-- ###SUB_PLATFORM### -->
    <div class="profile" id='###ID_PERSONNE###'>
        <img src="dim.php?type=person_profile_pic&person=###ID_PERSONNE###&timestamp=###TIMESTAMP###" alt="" class="profile_pic" align="top"/>
        <h3>###TX_LOGIN###</h3>
        <h4>###TX_PRENOM### ###TX_NOM###</h4>
        <table class="platform_details left">
            <tr>
                <td><img src="media/icons/email.png" align="top"/> ###TX_EMAIL###</td>
            </tr>
            <tr>
                <td><img src="media/icons/phone.png" align="top"/> ###TX_GSM###</td>
            </tr>
            <tr>
                <td><img src="media/icons/cake.png" align="top"/> ###DT_NAISSANCE###</td>
            </tr>
        </table>
        
    </div>
    <!-- ###SUB_PLATFORM### -->
</div>
