<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, text/html">
    </head>
    <body style="font-family:Arial;color:#617F9D">
        <p>
            <h3>Bonjour ###PRENOM### ###NOM###, </h3>
            Tu as récemment demandé à réinitialiser ton mot de passe sur ###WEBSITE###. Nous te donnons ci-dessous une URL à laquelle
            changer ton mot de passe. <br/><br/>
            
            <div style="text-align:center">
                <b><a href="###LINK###" style="color:#617F9D">Lien de réinitialisation</a></b>
            </div>
        </p>
        <p>
            Cordialement,<br/><br/>
            <b>L'équipe ###WEBSITE###</b>
        </p>
    </body>
</html>
